<h1><%= @projects.size %> FootStarter</h1>

<ul>
	<% @projects.each do |project| %>
		<li>
			<strong><%= project.name %></strong> - <%= project.description %>.  
		</li>
			We need cost: <strong><%= number_to_currency(project.target_pledge_amount) %></strong>
	<% end %>
</ul>